form{
    margin-top: 30%;
    width: 50%;
}
.img{
    border-radius: 6px;
    padding: 10px 20px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.order{
    color: #000;
    background-color: var(--primary--color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.04;
}
.cart-button:hover{
    color: rgb(84, 218, 84);
    background: transparent;
}
@media screen and (max-width:600px) {
    form 
    {
        width: 100%;
    }
}