.container1{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,5%);
   height: 10px;
}
.form-group{
       width: 100%;
        display: flex;
        flex-direction: column;   
}
.form-group input,.form-group textarea{
    width: 100%;

}
.submitMessage{
    color: green;
    font-weight: bold;
}
small{
    
    margin-bottom: 15px;
    margin-top: -10px;
}